body{
    background-color: white;
    font-family: 'Merriweather', serif;
    margin: 0%;
    padding: 0%;
}
#container{
    border: grey 0.2px solid;
    background-color:rgb(231, 209, 177);
    float: right;
    width: 50%;
    height: 598px;
    padding-top: 10%;
}
h1{
    color: black;
    float: left;
    padding: 15% 0% 0% 15%;
    font-size: 60px;
}
#title{
    font-size: 30px;
    text-align: center;
}
.labels{
    padding-left: 15%;
    font-size: 20px;
}
.inputs{
    margin-left: 15%;
    font-size: 15px;
    width: 70%;
    padding: 1%;
}
#button{
    text-align: center;
    font-size: 16px;
    padding: 1.2%;
    margin: 2% 0% 0% 45%;
    background-color: white;
    border: 1px black solid;
}
#button:active{
    background-color: grey;
}
#signup{
    padding-left: 36%;
}